[Desktop Entry]
Version=0.1
Name=Battery Indicator Application
Comment=View state of battery
Exec=batterym
Icon=battery.svg
Type=Application
Terminal=false
Categories=GNOME;GTK;Utility;
Name[en_US]=batterym.desktop
